<noscript>
  <form action="<%= feed_path %>" method="get">
    <input name="username"
           type="text"
           value=""
           required="true"
           placeholder="Let's find some heckin tweets..." />

    <input type="submit" value="Search" />
  </form>
</noscript>

<div class="row">
  <div class="col"></div>
  <div class="col-6 col-sm-8 js-twitter-search"></div>
  <div class="col"></div>
</div>
