<h1>tweets!</h1>

<% if tweets.present? %>
  <ul>
    <% tweets.each do |tweet| %>
      <li>
        <%= tweet.date_posted %>
        <br>
        <%= tweet.text %>
      </li>
    <% end %>
  </ul>
<% else %>
  No tweets found for that user. Their feed might not be public.
<% end %>
