---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=5&screen_name=everythinggoats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="XkDb44Pi94cC93Vb5yGfrfM6R", oauth_nonce="2c747f09402580698f712df0cb5f6f05",
        oauth_signature="R%2FO3tzu7WM4pXq%2FaHmjs7lXGJB4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1502416111", oauth_token="844271789903532032-NRcunCFKtmt61Jg8jmq72ahnwmMzLsT",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 11 Aug 2017 01:48:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - a61c27ebb9a7032620d64929da47815a
      X-Rate-Limit-Limit:
      - '900'
      X-Rate-Limit-Remaining:
      - '898'
      X-Rate-Limit-Reset:
      - '1502416891'
      X-Response-Time:
      - '53'
      X-Transaction:
      - '00085f9c00437dfb'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Mon Aug 07 14:26:09 +0000 2017","id":894565329942323201,"id_str":"894565329942323201","text":"IVE
        GOAT YOUR FINGER https:\/\/t.co\/Jq83X5S1gW","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":894565322232967172,"id_str":"894565322232967172","indices":[21,44],"media_url":"http:\/\/pbs.twimg.com\/media\/DGoia8QUMAQZvVR.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DGoia8QUMAQZvVR.jpg","url":"https:\/\/t.co\/Jq83X5S1gW","display_url":"pic.twitter.com\/Jq83X5S1gW","expanded_url":"https:\/\/twitter.com\/EverythingGoats\/status\/894565329942323201\/photo\/1","type":"photo","sizes":{"medium":{"w":590,"h":786,"resize":"fit"},"large":{"w":590,"h":786,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":510,"h":680,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":894565322232967172,"id_str":"894565322232967172","indices":[21,44],"media_url":"http:\/\/pbs.twimg.com\/media\/DGoia8QUMAQZvVR.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DGoia8QUMAQZvVR.jpg","url":"https:\/\/t.co\/Jq83X5S1gW","display_url":"pic.twitter.com\/Jq83X5S1gW","expanded_url":"https:\/\/twitter.com\/EverythingGoats\/status\/894565329942323201\/photo\/1","type":"photo","sizes":{"medium":{"w":590,"h":786,"resize":"fit"},"large":{"w":590,"h":786,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":510,"h":680,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2973453269,"id_str":"2973453269","name":"100%
        GOATS","screen_name":"EverythingGoats","location":"300% Goats","description":"200%
        GOATS","url":"https:\/\/t.co\/mOTMeVpwcX","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/mOTMeVpwcX","expanded_url":"http:\/\/400Goats.com","display_url":"400Goats.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":280344,"friends_count":46000,"listed_count":885,"created_at":"Sun
        Jan 11 18:02:44 +0000 2015","favourites_count":2784,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":4280,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/817987439100891136\/cEjjm_Oy_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/817987439100891136\/cEjjm_Oy_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2973453269\/1455849767","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1798,"favorite_count":4934,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        Aug 06 19:16:28 +0000 2017","id":894276001240403968,"id_str":"894276001240403968","text":"\"The
        road to success is filled with many goats\" https:\/\/t.co\/D8r9BlowwL","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":894275992100806656,"id_str":"894275992100806656","indices":[48,71],"media_url":"http:\/\/pbs.twimg.com\/media\/DGkbRthUIAATrPP.jpg","media_url_https":"https:\/\/pbs.twimg.com\/m[...]
