<div class="row">
  <div class="col-md-7 offset-md-3">
    <form action="<%= feed_path %>"
          method="get">
        <div class="form-group">
          <input name="username"
                 type="text"
                 value=""
                 required="true"
                 placeholder="Let's find some heckin tweets..."
                 class="col-md-8" />

          <input type="submit" value="Search" class="col-md-2" />
        </div>
      </form>
  </div>
</div>
