/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any
 * plugin's vendor/assets/stylesheets directory can be referenced here using a
 * relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at
 * the bottom of the compiled file so the styles you add here take precedence
 * over styles defined in any other CSS/SCSS files in this directory. Styles in
 * this file should be added after the last require_* statement. It is generally
 * better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

body {
  font-weight: 300;
}

.image-thumbnail {
  border-radius: 5px;
  display: block;
  height: auto;
  margin: 10px auto;
  max-width: 90%;
  width: auto;
}

.search-results-header {
  margin: 10px auto;
  text-align: center;

  .user-handle {
    font-style: bold;
    font-weight: 500;
  }
}

.remove-button-style {
  background-color: transparent;
  border: 0;
  box-sizing: none;
  color: #0275d8;
  cursor: pointer;
  font-weight: 300;
  outline: none;
}
